* {
  font-family: verdana;
  margin: 0;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
  flex-wrap: wrap;
  flex-flow: column; /* determines the main-axis & cross-axis */
  height: 600px;
  align-items: center; /* cross-axis */
  justify-content: flex-end; /* main-axis */
}

.box{
  width: 100px;
  flex: 0 0 100px;
}

.one {
  background: red;
}

.two {
  background: blue;
}

.three {
  background: green;
}